{{template "1_header.html" .}}

<h3>Регистрация</h3>

<form class="form col-sm-6" method="post" action="/user">
    <p>Введите логин:  <input class="form-control" type="text" id="username" name="username" value="logg"></p>
    <p>Введите пароль:  <input class="form-control" type="text" id="password" name="password" value="parr"></p>
    <p>
        <input class="btn btn-primary" type="submit" id="regBtn"
               value="Зарегистрироваться">
    </p>
</form>

{{if .Error}}
    <p class="alert alert-danger col-sm-6" id="error">Этот логин занят</p>
{{end}}

{{template "3_footer.html" .}}