{{template "1_header.html" .}}

<h3>Регистрация</h3>

<form class="form col-sm-6" method="post" action="/">
    <p>Введите логин:  <input class="form-control" type="text" id="username" value="logg"></p>
    <p>Введите пароль:  <input class="form-control" type="text" id="password" value="parr"></p>
    <p>
        <input class="btn btn-primary" type="button" id="regBtn"
               value="Войти" onclick="clickAuth()">
    </p>
</form>

<p class="hidden alert alert-danger col-sm-6" id="error"></p>

{{template "3_footer.html" .}}